## Getting Libraries

In [ ]:
!pip install geotable # https://pypi.org/project/geotable/
!pip install geopandas # https://geopandas.org/en/stable/getting_started/install.html

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geotable
  Downloading geotable-0.4.2.8-py3-none-any.whl (12 kB)
Requirement already satisfied: pandas>=0.20 in /usr/local/lib/python3.7/dist-packages (from geotable) (1.3.5)
Collecting utm
  Downloading utm-0.7.0.tar.gz (8.7 kB)
Requirement already satisfied: shapely[vectorized] in /usr/local/lib/python3.7/dist-packages (from geotable) (1.8.4)
Collecting invisibleroads-macros>=0.9.5.1
  Downloading invisibleroads_macros-0.9.5.1-py3-none-any.whl (20 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from invisibleroads-macros>=0.9.5.1->geotable) (1.15.0)
Collecting configparser
  Downloading configparser-5.3.0-py3-none-any.whl (19 kB)
Collecting simplejson
  Downloading simplejson-3.17.6-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 10.7 MB/s
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from invisibleroads-macros>=0.9.5.1->geotable) (22.1.0)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20->geotable) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20->geotable) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.20->geotable) (2.8.2)
Building wheels for collected packages: utm
  Building wheel for utm (setup.py) ... done
  Created wheel for utm: filename=utm-0.7.0-py3-none-any.whl size=6108 sha256=90183baa5cbd5493d71c155d1ad6ed2bf9c7a35988222da8e7340b59bd841921
  Stored in directory: /root/.cache/pip/wheels/a5/b0/12/7ee4fdb0f9fbb4157100bd02390436ed5d58ebfd3c6d6a0886
Successfully built utm
Installing collected packages: simplejson, configparser, utm, invisibleroads-macros, geotable
Successfully installed configparser-5.3.0 geotable-0.4.2.8 invisibleroads-macros-0.9.5.1 simplejson-3.17.6 utm-0.7.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting geopandas
  Downloading geopandas-0.10.2-py2.py3-none-any.whl (1.0 MB)
     |████████████████████████████████| 1.0 MB 9.3 MB/s
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.4)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Collecting fiona>=1.8
  Downloading Fiona-1.8.21-cp37-cp37m-manylinux2014_x86_64.whl (16.7 MB)
     |████████████████████████████████| 16.7 MB 454 kB/s
Collecting pyproj>=2.2.0
  Downloading pyproj-3.2.1-cp37-cp37m-manylinux2010_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 40.5 MB/s
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Collecting munch
  Downloading munch-2.5.0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2022.6.15)
Collecting cligj>=0.5
  Downloading cligj-0.7.2-py3-none-any.whl (7.1 kB)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (22.1.0)
Collecting click-plugins>=1.0
  Downloading click_plugins-1.1.1-py2.py3-none-any.whl (7.5 kB)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)
Installing collected packages: munch, cligj, click-plugins, pyproj, fiona, geopandas
Successfully installed click-plugins-1.1.1 cligj-0.7.2 fiona-1.8.21 geopandas-0.10.2 munch-2.5.0 pyproj-3.2.1

In [ ]:
import pandas as pd
import geotable
import geopandas as gpd
from geopandas import GeoDataFrame

In [ ]:
pois_df = gpd.read_file("sablayan-pois-with-brgy.geojson")
pois_df.head()

WARNING:fiona.ogrext:Skipping field tags: invalid type 5

,brgys,attributes,geometry
0,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
1,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
2,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
3,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
4,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)

In [ ]:
roads_df = gpd.read_file("sablayan-roads-with-brgy.geojson")
roads_df.head()

,id,brgys,bridge,fclass,oneway,osm_id,tunnel,geometry
0,149559329,{'175109003': 'Burgos'},F,trunk,B,149559329,F,"MULTILINESTRING ((120.88469 12.70066, 120.8852..."
1,151455877,{'175109002': 'Buenavista'},F,residential,B,151455877,F,"MULTILINESTRING ((120.78121 12.85012, 120.7802..."
2,151455878,{'175109002': 'Buenavista'},F,residential,B,151455878,F,"MULTILINESTRING ((120.77536 12.84313, 120.7748..."
3,151455880,{'175109009': 'Poblacion (Lumangbayan)'},F,unclassified,B,151455880,F,"MULTILINESTRING ((120.78147 12.83720, 120.7811..."
4,151455881,{'175109002': 'Buenavista'},F,residential,B,151455881,F,"MULTILINESTRING ((120.77479 12.84238, 120.7753..."

## Cleaning Road Network Data

In [ ]:
roads_df

,id,brgys,bridge,fclass,oneway,osm_id,tunnel,geometry
0,149559329,{'175109003': 'Burgos'},F,trunk,B,149559329,F,"MULTILINESTRING ((120.88469 12.70066, 120.8852..."
1,151455877,{'175109002': 'Buenavista'},F,residential,B,151455877,F,"MULTILINESTRING ((120.78121 12.85012, 120.7802..."
2,151455878,{'175109002': 'Buenavista'},F,residential,B,151455878,F,"MULTILINESTRING ((120.77536 12.84313, 120.7748..."
3,151455880,{'175109009': 'Poblacion (Lumangbayan)'},F,unclassified,B,151455880,F,"MULTILINESTRING ((120.78147 12.83720, 120.7811..."
4,151455881,{'175109002': 'Buenavista'},F,residential,B,151455881,F,"MULTILINESTRING ((120.77479 12.84238, 120.7753..."
...,...,...,...,...,...,...,...,...
1008,784102967,{'175109004': 'Claudio Salgado'},F,residential,B,784102967,F,"MULTILINESTRING ((120.80202 12.97128, 120.8020..."
1009,784102968,{'175109004': 'Claudio Salgado'},F,residential,B,784102968,F,"MULTILINESTRING ((120.80079 12.97193, 120.8008..."
1010,784102969,{'175109004': 'Claudio Salgado'},F,residential,B,784102969,F,"MULTILINESTRING ((120.80079 12.97193, 120.8003..."
1011,784102970,{'175109004': 'Claudio Salgado'},F,unclassified,B,784102970,F,"MULTILINESTRING ((120.79920 12.97153, 120.7991..."
1012,784102971,{'175109004': 'Claudio Salgado'},F,track,B,784102971,F,"MULTILINESTRING ((120.79117 12.97145, 120.7930..."

In [ ]:
# get the column of brgys
bc = roads_df["brgys"]

In [ ]:
# Separating the psgc and brgy names from the dict values
psgc = []
brgy = []
for i in range(1013):
  # key, value = list(bc.items())[i]
  psgc.append(list(bc[i].keys())[0])
  brgy.append(list(bc[i].values())[0])


print(psgc)
print(brgy)

['175109003', '175109002', '175109002', '175109009', '175109002', '175109002', '175109002', '175109002', '175109009', '175109024', '175109001', '175109024', '175109024', '175109024', '175109024', '175109001', '175109024', '175109001', '175109024', '175102001', '175109024', '175109001', '175109001', '175109024', '175109001', '175109001', '175109024', '175109024', '175109024', '175109019', '175109001', '175109024', '175109024', '175109001', '175109024', '175109024', '175109001', '175109024', '175109010', '175109010', '175109006', '175109017', '175109021', '175109011', '175109021', '175109014', '175109001', '175109011', '175109002', '175109002', '175109002', '175109002', '175109002', '175109023', '175109023', '175109023', '175109023', '175109023', '175109020', '175109020', '175109020', '175109020', '175109010', '175109020', '175109020', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109002', '175109002', '175109002', '175109002', '175109009', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109009', '175109002', '175109002', '175109009', '175109009', '175109002', '175109009', '175109009', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109009', '175109009', '175109009', '175109009', '175109002', '175109002', '175109002', '175109009', '175109002', '175109002', '175109002', '175109002', '175109002', '175109009', '175109002', '175109009', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109017', '175109004', '175109004', '175109004', '175109004', '175109004', '175109006', '175109017', '175109004', '175109017', '175109004', '175102006', '175109009', '175109002', '175109002', '175109019', '175109019', '175109002', '175109005', '175109005', '175109005', '175109016', '175109005', '175109005', '175109008', '175109016', '175109008', '175109016', '175109005', '175109016', '175109016', '175109005', '175109016', '175109005', '175109005', '175109016', '175109016', '175109016', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109006', '175109006', '175109006', '175109019', '175109009', '175109009', '175109009', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109023', '175109023', '175109023', '175109016', '175109016', '175109019', '175109023', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109011', '175109018', '175109008', '175109008', '175109008', '175109008', '175109008', '175109003', '175109002', '175109009', '175109002', '175109009', '175109002', '175109002', '175109009', '175109002', '175109002', '175109002', '175109002', '175109009', '175109011', '175109004', '175109007', '175109004', '175109004', '175109004', '175109007', '175109001', '175109013', '175109010', '175109004', '175109010', '175109020', '175109020', '175109004', '175109004', '175109010', '175109010', '175109009', '175109009', '175109009', '175109009', '175109009', '175109009', '175109009', '175109009', '175109009', '175109009', '175109001', '175109002', '175109009', '175109009', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109001', '175109001', '175109017', '175109023', '175109017', '175109019', '175109023', '175109024', '175109017', '175109001', '175109001', '175109023', '175109023', '175109019', '175109023', '175109001', '175109001', '175109001', '175109001', '175109001', '175109017', '175109017', '175109023', '175109001', '175109001', '175109023', '175109011', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109005', '175109023', '175109024', '175109024', '175109024', '175109024', '175109023', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109011', '175109022', '175109022', '175109021', '175109021', '175109011', '175109022', '175109022', '175109021', '175109023', '175109001', '175109001', '175109023', '175109023', '175109001', '175109001', '175109023', '175109013', '175109023', '175109023', '175109001', '175109023', '175109023', '175109023', '175109001', '175109023', '175109013', '175109013', '175109023', '175109001', '175109001', '175109013', '175109001', '175109001', '175109023', '175109001', '175109001', '175109013', '175109013', '175109001', '175109001', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109023', '175109014', '175109006', '175109005', '175109005', '175109005', '175109014', '175109017', '175109014', '175109017', '175109017', '175109017', '175109014', '175109014', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109014', '175109017', '175109017', '175109017', '175109017', '175109006', '175109019', '175109019', '175109019', '175109009', '175109009', '175109009', '175109002', '175109009', '175109009', '175109009', '175109009', '175109002', '175109024', '175109024', '175109024', '175109002', '175109024', '175109024', '175109002', '175109024', '175109002', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109024', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109024', '175109018', '175109023', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109005', '175109005', '175109005', '175109016', '175109016', '175109005', '175109016', '175109005', '175109016', '175109016', '175109016', '175109016', '175109016', '175109016', '175109016', '175109016', '175109016', '175109016', '175109016', '175109005', '175109005', '175109016', '175109016', '175109023', '175109023', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109005', '175109003', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109005', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109008', '175109005', '175109005', '175109005', '175109008', '175109018', '175109018', '175109009', '175109009', '175109002', '175109009', '175109009', '175109002', '175109014', '175109014', '175109017', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109017', '175109001', '175109010', '175109006', '175109001', '175109010', '175109010', '175109013', '175109010', '175109014', '175109010', '175109014', '175109014', '175109010', '175109014', '175109014', '175109010', '175109001', '175109010', '175109010', '175109010', '175109014', '175109014', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109014', '175109010', '175109010', '175109010', '175109010', '175109014', '175109014', '175109010', '175109014', '175109010', '175109010', '175109010', '175109014', '175109010', '175109014', '175109010', '175109010', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109017', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109014', '175109001', '175109006', '175109006', '175109017', '175109006', '175109010', '175109017', '175109017', '175109017', '175109017', '175109006', '175109004', '175109006', '175109004', '175109006', '175109006', '175109006', '175109004', '175109004', '175109010', '175109004', '175109020', '175109020', '175109006', '175109020', '175109010', '175109010', '175109010', '175109020', '175109010', '175109004', '175109004', '175109010', '175109010', '175109010', '175109004', '175109010', '175109004', '175109004', '175109010', '175109004', '175109010', '175109004', '175109020', '175109020', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109001', '175109023', '175109018', '175109018', '175109009', '175109008', '175109008', '175109018', '175109008', '175109018', '175109008', '175109008', '175109018', '175109024', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109009', '175109009', '175109009', '175109001', '175109001', '175109001', '175109023', '175109001', '175109023', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109014', '175109014', '175109014', '175109009', '175109022', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109005', '175109005', '175109005', '175109005', '175109005', '175109003', '175109003', '175109003', '175109003', '175109003', '175109003', '175109008', '175109008', '175109008', '175109023', '175109023', '175109023', '175109003', '175109003', '175109003', '175109003', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109018', '175109024', '175109024', '175109024', '175109024', '175109019', '175109019', '175109019', '175109019', '175109019', '175109019', '175109019', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109021', '175109022', '175109021', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109001', '175109010', '175109010', '175109010', '175109010', '175109010', '175109010', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109007', '175109004', '175109004', '175109004', '175109004', '175109004', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109017', '175109019', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109006', '175109006', '175109006', '175109020', '175109020', '175109020', '175109020', '175109020', '175109013', '175109011', '175109011', '175109011', '175109011', '175109011', '175109011', '175109011', '175109011', '175109011', '175109011', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004', '175109004']

In [ ]:
roads_df['psgc'] = ''

In [ ]:
# replacing values in columns psgc and brgys with the list values
for i in range(1013):
  roads_df['psgc'][i] = psgc[i]
  roads_df['brgys'][i] = brgy[i]

print(roads_df['psgc'])
print(roads_df['brgys'])

0       175109003
1       175109002
2       175109002
3       175109009
4       175109002
          ...
1008    175109004
1009    175109004
1010    175109004
1011    175109004
1012    175109004
Name: psgc, Length: 1013, dtype: object
0                        Burgos
1                    Buenavista
2                    Buenavista
3       Poblacion (Lumangbayan)
4                    Buenavista
                 ...
1008            Claudio Salgado
1009            Claudio Salgado
1010            Claudio Salgado
1011            Claudio Salgado
1012            Claudio Salgado
Name: brgys, Length: 1013, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
roads_df

,id,brgys,bridge,fclass,oneway,osm_id,tunnel,geometry,psgc
0,149559329,Burgos,F,trunk,B,149559329,F,"MULTILINESTRING ((120.88469 12.70066, 120.8852...",175109003
1,151455877,Buenavista,F,residential,B,151455877,F,"MULTILINESTRING ((120.78121 12.85012, 120.7802...",175109002
2,151455878,Buenavista,F,residential,B,151455878,F,"MULTILINESTRING ((120.77536 12.84313, 120.7748...",175109002
3,151455880,Poblacion (Lumangbayan),F,unclassified,B,151455880,F,"MULTILINESTRING ((120.78147 12.83720, 120.7811...",175109009
4,151455881,Buenavista,F,residential,B,151455881,F,"MULTILINESTRING ((120.77479 12.84238, 120.7753...",175109002
...,...,...,...,...,...,...,...,...,...
1008,784102967,Claudio Salgado,F,residential,B,784102967,F,"MULTILINESTRING ((120.80202 12.97128, 120.8020...",175109004
1009,784102968,Claudio Salgado,F,residential,B,784102968,F,"MULTILINESTRING ((120.80079 12.97193, 120.8008...",175109004
1010,784102969,Claudio Salgado,F,residential,B,784102969,F,"MULTILINESTRING ((120.80079 12.97193, 120.8003...",175109004
1011,784102970,Claudio Salgado,F,unclassified,B,784102970,F,"MULTILINESTRING ((120.79920 12.97153, 120.7991...",175109004
1012,784102971,Claudio Salgado,F,track,B,784102971,F,"MULTILINESTRING ((120.79117 12.97145, 120.7930...",175109004

## Cleaning POI data

In [ ]:
pois_df

,brgys,attributes,geometry
0,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
1,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
2,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
3,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
4,{'175109011': 'Pag-Asa'},"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623)
...,...,...,...
152,{'175109002': 'Buenavista'},{'ISIC': 'Accommodation and Food Service Activ...,POINT (120.77686 12.84518)
153,{'175109009': 'Poblacion (Lumangbayan)'},{'ISIC': 'Administrative and Support Service A...,POINT (120.75059 12.85771)
154,{'175109008': 'Ligaya'},{'ISIC': 'Administrative and Support Service A...,POINT (121.12889 12.74456)
155,{'175109009': 'Poblacion (Lumangbayan)'},{'ISIC': 'Administrative and Support Service A...,POINT (120.76579 12.83011)
156,{'175109011': 'Pag-Asa'},{'ISIC': 'Administrative and Support Service A...,POINT (121.09931 13.09689)

In [ ]:
poibc = pois_df["brgys"]
poibc

0                      {'175109011': 'Pag-Asa'}
1                      {'175109011': 'Pag-Asa'}
2                      {'175109011': 'Pag-Asa'}
3                      {'175109011': 'Pag-Asa'}
4                      {'175109011': 'Pag-Asa'}
                         ...
152                 {'175109002': 'Buenavista'}
153    {'175109009': 'Poblacion (Lumangbayan)'}
154                     {'175109008': 'Ligaya'}
155    {'175109009': 'Poblacion (Lumangbayan)'}
156                    {'175109011': 'Pag-Asa'}
Name: brgys, Length: 157, dtype: object

In [ ]:
# Separating the psgc and brgy names from the dict values
psgc = []
brgy = []
for i in range(157):
  # key, value = list(bc.items())[i]
  psgc.append(list(poibc[i].keys())[0])
  brgy.append(list(poibc[i].values())[0])


print(psgc)
print(brgy)

['175109011', '175109011', '175109011', '175109011', '175109011', '175109017', '175109008', '175109002', '175109002', '175109002', '175109002', '175109002', '175109008', '175109002', '175109002', '175109002', '175109001', '175109002', '175109002', '175109002', '175109009', '175109022', '175109009', '175109023', '175109004', '175109007', '175109008', '175109023', '175109020', '175109010', '175109002', '175109023', '175109019', '175109014', '175109017', '175109023', '175109024', '175109021', '175109001', '175109014', '175109002', '175109002', '175109002', '175109019', '175109009', '175109009', '175109002', '175109019', '175109014', '175109002', '175109002', '175109002', '175109018', '175109021', '175109001', '175109003', '175109002', '175109003', '175109008', '175109004', '175109001', '175109004', '175109005', '175109005', '175109003', '175109013', '175109008', '175109006', '175109011', '175109011', '175109023', '175109010', '175109018', '175109009', '175109011', '175109002', '175109018', '175109001', '175109013', '175109011', '175109014', '175109004', '175109016', '175109017', '175109017', '175109007', '175109022', '175109018', '175109018', '175109017', '175109019', '175109020', '175109024', '175109021', '175109001', '175109008', '175109024', '175109019', '175109004', '175109011', '175109018', '175109017', '175109001', '175109021', '175109007', '175109010', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109017', '175109011', '175109002', '175109009', '175109002', '175109011', '175109011', '175109011', '175109011', '175109002', '175109002', '175109011', '175109017', '175109011', '175109009', '175109008', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109002', '175109009', '175109009', '175109019', '175109002', '175109009', '175109002', '175109002', '175109002', '175109009', '175109002', '175109019', '175109002', '175109009', '175109008', '175109009', '175109011']
['Pag-Asa', 'Pag-Asa', 'Pag-Asa', 'Pag-Asa', 'Pag-Asa', 'San Vicente', 'Ligaya', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Ligaya', 'Buenavista', 'Buenavista', 'Buenavista', 'Batong Buhay', 'Buenavista', 'Buenavista', 'Buenavista', 'Poblacion (Lumangbayan)', 'Lagnas', 'Poblacion (Lumangbayan)', 'Malisbong', 'Claudio Salgado', 'Ilvita', 'Ligaya', 'Malisbong', 'Tagumpay', 'Paetan', 'Buenavista', 'Malisbong', 'Santo Nino', 'San Francisco', 'San Vicente', 'Malisbong', 'Tuban', 'Victoria', 'Batong Buhay', 'San Francisco', 'Buenavista', 'Buenavista', 'Buenavista', 'Santo Nino', 'Poblacion (Lumangbayan)', 'Poblacion (Lumangbayan)', 'Buenavista', 'Santo Nino', 'San Francisco', 'Buenavista', 'Buenavista', 'Buenavista', 'Santa Lucia', 'Victoria', 'Batong Buhay', 'Burgos', 'Buenavista', 'Burgos', 'Ligaya', 'Claudio Salgado', 'Batong Buhay', 'Claudio Salgado', 'General Emilio Aguinaldo', 'General Emilio Aguinaldo', 'Burgos', 'San Agustin', 'Ligaya', 'Ibud', 'Pag-Asa', 'Pag-Asa', 'Malisbong', 'Paetan', 'Santa Lucia', 'Poblacion (Lumangbayan)', 'Pag-Asa', 'Buenavista', 'Santa Lucia', 'Batong Buhay', 'San Agustin', 'Pag-Asa', 'San Francisco', 'Claudio Salgado', 'San Nicolas', 'San Vicente', 'San Vicente', 'Ilvita', 'Lagnas', 'Santa Lucia', 'Santa Lucia', 'San Vicente', 'Santo Nino', 'Tagumpay', 'Tuban', 'Victoria', 'Batong Buhay', 'Ligaya', 'Tuban', 'Santo Nino', 'Claudio Salgado', 'Pag-Asa', 'Santa Lucia', 'San Vicente', 'Batong Buhay', 'Victoria', 'Ilvita', 'Paetan', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'San Vicente', 'Pag-Asa', 'Buenavista', 'Poblacion (Lumangbayan)', 'Buenavista', 'Pag-Asa', 'Pag-Asa', 'Pag-Asa', 'Pag-Asa', 'Buenavista', 'Buenavista', 'Pag-Asa', 'San Vicente', 'Pag-Asa', 'Poblacion (Lumangbayan)', 'Ligaya', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Buenavista', 'Poblacion (Lumangbayan)', 'Poblacion (Lumangbayan)', 'Santo Nino', 'Buenavista', 'Poblacion (Lumangbayan)', 'Buenavista', 'Buenavista', 'Buenavista', 'Poblacion (Lumangbayan)', 'Buenavista', 'Santo Nino', 'Buenavista', 'Poblacion (Lumangbayan)', 'Ligaya', 'Poblacion (Lumangbayan)', 'Pag-Asa']

In [ ]:
pois_df['psgc'] = ''

In [ ]:
for i in range(157):
  pois_df['psgc'][i] = psgc[i]
  pois_df['brgys'][i] = brgy[i]

print(pois_df['psgc'])
print(pois_df['brgys'])

0      175109011
1      175109011
2      175109011
3      175109011
4      175109011
         ...
152    175109002
153    175109009
154    175109008
155    175109009
156    175109011
Name: psgc, Length: 157, dtype: object
0                      Pag-Asa
1                      Pag-Asa
2                      Pag-Asa
3                      Pag-Asa
4                      Pag-Asa
                ...
152                 Buenavista
153    Poblacion (Lumangbayan)
154                     Ligaya
155    Poblacion (Lumangbayan)
156                    Pag-Asa
Name: brgys, Length: 157, dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
pois_df

,brgys,attributes,geometry,psgc
0,Pag-Asa,"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623),175109011
1,Pag-Asa,"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623),175109011
2,Pag-Asa,"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623),175109011
3,Pag-Asa,"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623),175109011
4,Pag-Asa,"{'ISIC': 'Financial and Insurance Activities',...",POINT (121.07937 13.11623),175109011
...,...,...,...,...
152,Buenavista,{'ISIC': 'Accommodation and Food Service Activ...,POINT (120.77686 12.84518),175109002
153,Poblacion (Lumangbayan),{'ISIC': 'Administrative and Support Service A...,POINT (120.75059 12.85771),175109009
154,Ligaya,{'ISIC': 'Administrative and Support Service A...,POINT (121.12889 12.74456),175109008
155,Poblacion (Lumangbayan),{'ISIC': 'Administrative and Support Service A...,POINT (120.76579 12.83011),175109009
156,Pag-Asa,{'ISIC': 'Administrative and Support Service A...,POINT (121.09931 13.09689),175109011

Output files

In [ ]:
roads_df.to_file('sablayan_roads_brgy.geojson', driver='GeoJSON')

In [ ]:
pois_df.to_file('sablayan_pois_brgy.geojson', driver='GeoJSON')

# Hex point real

Swapping the columns

In [ ]:
hexpt_df = pd.read_csv("hexpoint_real.csv")
hexpt_df.head()

   id              X             Y
0  22  473198.741836  1.422217e+06
1  23  473198.741836  1.420567e+06
2  49  474627.683753  1.434592e+06
3  50  474627.683753  1.432942e+06
4  51  474627.683753  1.431292e+06

In [ ]:
hexpt_df.rename(columns = {'X':'Y', 'Y':'X'}, inplace = True)

In [ ]:
hexpt_df

       id              Y             X
0      22  473198.741836  1.422217e+06
1      23  473198.741836  1.420567e+06
2      49  474627.683753  1.434592e+06
3      50  474627.683753  1.432942e+06
4      51  474627.683753  1.431292e+06
..    ...            ...           ...
967  1362  527498.534654  1.405717e+06
968  1363  527498.534654  1.404067e+06
969  1364  527498.534654  1.402417e+06
970  1397  528927.476570  1.404892e+06
971  1398  528927.476570  1.403242e+06

[972 rows x 3 columns]

In [ ]:
hexpt_df.to_csv('hexpt_data.csv', index=False)